<h1>Lists</h1>


<h1>Click an List To View It</h1>
<%= link_to 'Add List', new_board_list_path(@board) %>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to List.name, [@board, list] %></li>
  <% end %>
</ul>

