<h2 class="ui header">
  <img src="https://robohash.org/YOUR-TEXT.png" class="ui circular image">
  Board
</h2>
<%= link_to "New Board", new_board_path,class:"ui button pink"%>
<table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
<% if @boards.length > 0 %>
  <% @boards.each do |board|%>
   <tr class="center aligned">
        <td>
         <img class="ui avatar image small" src="https://robohash.org/<%= board.name %>?set=set4" />
        </td>
    <td><%= link_to  board.name, board, class: "ui button blue"%></td>
    
  <% end %>
<% else %>
  <%= "No Boards to list"%>
<% end %>
</tr>
</tbody>
</table>
<br/>

