<h1 class="ui header">Boards</h1>
<table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
<% if @boards.length > 0 %>
  <% @boards.each do |board|%>
   <tr class="center aligned">
        <td>
         <img class="ui avatar image small" src="https://robohash.org/<%= board.name %>?set=set4" />
        </td>
    <td><%= link_to  board.name, board %></td>
    
  <% end %>
<% else %>
  <%= "No Boards to list"%>
<% end %>
</tr>
</tbody>
</table>
<br/>
<%= link_to "new Board", new_board_path%>
